@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Comic+Neue:wght@300&family=Dancing+Script&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.cabeza {
  width: auto;
  height: 120px;
  background-color: white;
}

nav ul {
  list-style: none;
}
nav li {
  padding: 10px;
  transition: all 0, 8s;
}
nav a {
  color: orange;
  text-shadow: 0 0 1px black;
}
nav :hover {
  color: white;
}

.nos {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.imgnos {
  height: 400px;
  width: 450px;
  background-image: url(../imagenes/hermosa-mujer-joven-oficina-casa.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.frasnos {
  height: 350px;
  width: 280px;
  font-family: "Pacifico", cursive;
  margin: 10px;
}
.frasnos p {
  font-size: "Dancing Script", cursive;
  font-size: 20px;
  text-align: right;
  padding: 5px;
}
.frasnos span {
  font-family: "Comic Neue", cursive;
  color: orange;
}

.serv {
  background-color: antiquewhite;
  width: 100%;
  height: 50px;
}
.serv h1 {
  margin: 50px;
  padding: 5px;
  text-align: center;
  font-size: 25px;
}

.servicios {
  height: auto;
  width: 100%;
  background-color: antiquewhite;
  padding: 5px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sec,
.sec1,
.sec2 {
  height: 350px;
  width: 300px;
  border: 2px solid antiquewhite;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.sec h2,
.sec1 h2,
.sec2 h2 {
  text-align: right;
  font-size: 20px;
  margin: 10px;
}
.sec p,
.sec1 p,
.sec2 p {
  color: orange;
  margin: 10px;
}

.sec {
  background-image: url(../imagenes/productos.png);
}

.sec1 {
  background-image: url(../imagenes/movil2.png);
}

.sec2 {
  background-image: url(../imagenes/diseñoweb2.jpg);
}

.contacto {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 300px;
  border: 1px solid white;
}

.contacto1 {
  background-image: url(../imagenes/cielo.jpg);
  background-size: cover;
}

.contacto2 {
  background-color: black;
}
.contacto2 p {
  color: white;
  font-size: 15px;
  text-align: center;
  margin-top: 50px;
}

.form1 {
  height: 200px;
  background-image: url(../imagenes/comprobacion-datos-computadora-p.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.form2 {
  height: 400px;
  width: 100%;
  text-align: right;
  font-size: 20px;
}

.boton:hover {
  color: salmon;
}

.servicios1 h1 {
  text-align: center;
  font-size: 25px;
}

.servicios2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
}
.servicios2 h3 {
  text-align: left;
  color: orange;
  font-size: 18px;
  padding: 5px;
}
.servicios2 p {
  text-align: left;
  font-weight: bold;
  padding: 5px;
  line-height: 1, 5;
}

.serv1 p {
  text-align: center;
  color: orange;
  font-style: italic;
  padding: 10px;
}

.serv2, .serv3, .serv4 {
  width: 250px;
  height: 250px;
}

.producto {
  height: auto;
  width: 100%;
  background-color: antiquewhite;
  padding: 5px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.producto h3 {
  color: orange;
  padding: 10px;
}
.producto li {
  color: salmon;
  font-style: italic;
}
.producto .info1, .producto .info2, .producto .info3 {
  height: 410px;
  width: 270px;
  padding: 5px;
  border: 2px solid antiquewhite;
}
.producto .producto-img1 {
  height: 410px;
  width: 280px;
  border: 2px solid orange;
  background-color: white;
  background-image: url(../imagenes/img1.png);
  background-size: cover;
  background-position: center;
}
.producto .producto-img2 {
  height: 410px;
  width: 280px;
  border: 2px solid orange;
  background-color: white;
  background-image: url(../imagenes/img2.png);
  background-size: cover;
  background-position: center;
}
.producto .producto-img3 {
  height: 410px;
  width: 280px;
  border: 2px solid orange;
  background-color: white;
  background-image: url(../imagenes/img3.png);
  background-size: cover;
  background-position: center;
}

.blog {
  text-align: center;
  color: orange;
  background-color: black;
}

.videos {
  width: 100%;
  height: auto;
  background-color: antiquewhite;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.videos h2 {
  font-size: 20px;
  color: orange;
}
.videos :hover {
  transform: scale(1.1);
  transition: all 2s;
}

.nosotros {
  width: 100%;
  height: 200px;
  background-color: antiquewhite;
  border: 2px solid orange;
  display: flex;
  flex-wrap: wrap;
}
.nosotros span {
  font-family: "Caveat";
  font-size: 20px;
  color: salmon;
}
.nosotros p {
  margin: 10px;
  text-align: left;
  line-height: 1;
  font-size: 15px;
}
.nosotros .carrusel {
  height: 250px;
  width: 100%;
  padding: 12px;
  background-color: antiquewhite;
  background-position: bottom;
}

.formulario {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form1 {
  height: 600px;
  width: 500px;
  background-image: url(../imagenes/comprobacion-datos-computadora-p.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form2 {
  background-color: white;
  height: 500px;
  width: 450px;
  padding: 20px;
  font-size: 15px;
}
.form2 h2 {
  color: orange;
  text-align: left;
  text-decoration: underline;
}

.boton:hover {
  color: salmon;
}

.footer {
  width: 100%;
  text-align: center;
  font-size: 60%;
  background-color: black;
  color: white;
  padding: 10px;
}

.redes {
  border: 5px solid black;
  background-color: black;
}
.redes a {
  color: white;
  font-size: 15px;
  text-align: center;
  margin: 3px;
}
.redes :hover {
  color: salmon;
}

.subir {
  width: 40px;
  position: fixed;
  right: 10px;
  bottom: 50px;
  color: salmon;
  font-size: 30px;
  text-align: center;
}
.subir :hover {
  color: salmon;
  transform: scale(0.9);
}

@media screen and (min-whidt: 768px) {
  .nos {
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
  }
}
@media screen and (min-whidt: 768px) {
  .servicios2 {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
  }
}
@media screen and (min-whidt: 768px) {
  .producto {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
  }
}
@media screen and (min-whidt: 768px) {
  .nosotros {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-whidt: 1024px) {
  .nos {
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
  }
}
@media screen and (min-whidt: 1024px) {
  .formulario {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}
@media screen and (min-whidt: 1024px) {
  .nosotros {
    width: 100%;
    height: 200px;
    background-color: antiquewhite;
    border: 2px solid orange;
    display: flex;
    flex-wrap: wrap;
  }
  span {
    font-family: "Caveat";
    font-size: 40px;
    color: salmon;
  }
  p {
    margin: 10px;
    text-align: left;
    line-height: 1;
    font-size: 30px;
  }
}/*# sourceMappingURL=estilos.css.map */